<header class='main-nav'>
  <ul>
    <li>
      <i class='fa fa-tachometer'></i>
      <span>Dashboard</span>
    </li>
    <li>
      <i class='fa fa-file-text'></i>
      <span>Pages</span>
    </li>
    <li>
      <i class='fa fa-bars'></i>
      <span>Menus</span>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Users</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Settings</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Log Out</span>
    </li>
  </ul>
</header>
