<div class="row g-0 bg-customPant justify-content-center align-items-center">
    <div class="final-pant-container">
        <div class="image-pant-final">
            <img [src]="selectedPocketsD" alt="Pockets D">
            <img [src]="selectedPocketsT" alt="Pockets T">   
        </div>
        <div class="separatorVertical"></div>
        <div class="properties-pant-final">
            <div class="properties-title">Propiedades</div> <!-- Title "Properties" -->
            <div class="separatorHorizontal"></div>
            <div class="size-section">
                <div class="size-name">Tu talla :  </div> <!-- Size name -->
                <div class="circle-size">{{ selectedSize }}</div> <!-- Size circle -->
            </div>
            <div class="separatorHorizontal"></div>
            
            <div class="size-name"  style="text-align: left;">Tela seleccionada : </div>
            <div class="fabric-section">
                <div class="color-box" [style.background-color]="selectedColorHex"></div> <!-- Color box -->
                <div>
                    <div class="fabric-name"> Tela - {{ selectedFabric }}</div> <!-- Fabric name -->
                    <div class="fabric-name"> Color - {{ selectedColorName }}</div> <!-- Color name -->
                </div>
            </div>   
            <button class="save-button" (click)="onSaveDesign()">Crea tu diseño</button>        
        </div>  
    </div>  
</div>


