<div class="row g-0">
    <div class="container">
        <h1 class="m-0">¡Prepárate para una experiencia de diseño única!</h1>
        <span class="text-dark"> Escoge si quieres crear un look espectacular para.</span>
        <span class="text-gender"> hombres o mujeres.</span>
    </div>
    <div class="col-md-6">
        <div class="half blue">
            <div class="circle">
                <div>
                    <a [routerLink]="['/user/pant-size']" class="button-man" (click)="selectPantGender('H')">Hombre</a>         
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-6">
        <div class="half pink">
            <div class="circle">
                <div>
                    <a [routerLink]="['/user/pant-size']" class="button-woman" (click)="selectPantGender('M')">Mujer</a>
                </div>
            </div>
        </div>
    </div> 
</div>