<div class="container-fluid bg-registration py-7" style="margin: 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-12 mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="card border-0">
                    <div class="custom-card-header">
                        <h1 class="text-white m-0">Regístrate</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-white p-5 text-center">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input [(ngModel)]="data.name_user" name="name_user" type="text" class="form-control p-4" placeholder="Nombres" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input [(ngModel)]="data.lastname_user" name="lastname_user" type="text" class="form-control p-4" placeholder="Apellidos" required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <input [(ngModel)]="data.email" name="email" type="email" class="form-control p-4" placeholder="Correo electrónico" required="required" />
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <select [(ngModel)]="data.document_type" name="document_type" class="form-control p-4" required="required">
                                        <option value="" disabled selected>Selecciona tipo de documento</option>
                                        <option value="CC">Cédula de Ciudadanía</option>
                                        <option value="CI">Cédula de Identidad</option>
                                        <option value="CE">Cédula de Extranjería</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <input [(ngModel)]="data.document_number" (ngModelChange)="convertToText($event)" name="document_number" type="number" class="form-control p-4" placeholder="Número de documento" required="required" />
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <input [(ngModel)]="data.password" name="password" type="password" class="form-control p-4" placeholder="Contraseña" required="required" />
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <input [(ngModel)]="data.confirmPassword" name="confirmPassword" [ngModelOptions]="{ standalone: true }" type="password" class="form-control p-4" placeholder="Confirme su contraseña" required="required" />
                                </div>
                                <div *ngIf="data.password !== data.confirmPassword" class="text-danger">
                                  Las contraseñas no coinciden.
                                </div>
                              </div>
                            </div>

                            <div class="button-container">
                                <div class="mb-3">
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-lg py-2 rounded-pill" type="submit" style="background-color: hsl(261,100%,63%);">Registrarse</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <app-btn-google></app-btn-google>
                                </div>
                            </div>
                        </form>

                        <div>
                            <a [routerLink]="['/login']">¿Ya tienes una cuenta? Ingresa aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
