<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sidebar-nav</title>
</head>

<body>

    <div class="sidebar">

        <ul class="sidebar-nav">
            <li>
                <a id="navbar-toggle">Close <i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#">Home <i class="fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#">Download<i class="fa fa-download menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#">Edit<i class="fa fa-cog menu-icon fa-2x" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="#">log out<i class="fa fa-sign-out menu-icon fa-2x" aria-hidden="true"></i>
                    </a>
            </li>

        </ul>
    </div>
</body>

</html>