.bg-customPant {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("/././assets/img/carousel-7.jpg"), no-repeat center center;
    background-size: cover;
}

.contenedor-boton-rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.contenedor-boton-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.boton-redondo {
  border-radius: 50%;
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
}

@font-face {
    font-family: 'Quicksand';
    src: url('/assets/fonts/Quicksand.ttf') format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
}

body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c92f2f;
}

.tittle{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    color: #253D4E;
}

.final-pant-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 450px;
    background-color: white;
    margin:100px;
    border-radius: 15px;
    justify-content: space-between;
}

.talla-name, .fabric-name {
    font-size: 18px;
    margin-top: 10px;
}

.image-pant-final{
    width: 100%;
    height: 100%;
    margin: 10px;
}

.properties-pant-final{
    width: 50%;
    height: 100%;
    margin: 10px;
}

.image-pant-final img {
    display: inline-block;
    width: 200px;
    height: 400px;
    margin-top: 25px;
}

.circle-size {
    width: 30px;
    height: 30px;
    background-color: #7079f0;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.color-box {
    width: 60px;
    height: 60px;
    border: 2px solid #7079f0;
    margin-left: 15PX;
}

.color-name {
    font-size: 16px;
    font-weight: bold;
}

.separatorVertical {
    border-left: 1px solid #888686;
    height: 90%;
}

.separatorHorizontal {
    border-top: 2px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
}

.properties-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 70px;
    color: #253D4E;
}

.size-section , .fabric-section{
    display: flex;
    align-items: center;
}

.size-name {
    margin-right: 10px;
    text-align: center;
    color: var(--1, #6f7172);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
}

.fabric-name{
    margin-left: 10px;
    text-align: left;
    color: var(--1, #636666);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
    padding-bottom: 7px;
}

.save-button {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #7079f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición de color de fondo */
}

.save-button:hover {
    background-color: #8443ff; /* Cambia el color de fondo cuando se pasa el cursor por encima */
}

