@font-face {
  font-family: 'Rubik';
  src: url('/../assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quick';
  src: url('/../assets/fonts/quicksand.bold-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Tusker';
  src: url('/../assets/fonts/TuskerGrotesk-1600Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'TuskerBold';
  src: url('/../assets/fonts/TuskerGrotesk-1700Bold') format('opentype');
}

