a {
  color: #8444FF !important;
}

input {
  height: 20px; /* Ajusta el valor según el tamaño deseado */
  width: 3rem;
}

.custom-margin {
  margin-right: 10px; /* Ajusta el valor según la separación deseada */
}

.btn-square {
  width: 50px; /* Ajusta el valor según el tamaño deseado */
  height: 50px; /* Ajusta el valor según el tamaño deseado */
}

.bg-dark {
  background-color: #212121 !important;
}

p i {
  margin-right: 10px;
}

.d-flex a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.d-flex a:hover {
  text-decoration: underline;
}

.d-flex a i {
  vertical-align: middle;
  margin-right: 5px;
}

.btn-custom {
  border-color: #8444FF; /* Cambia el color del borde del botón si es necesario */
  color: #fff; /* Cambia el color del texto en el botón si es necesario */
  align-items: center;
}
.btn-custom i {
  display: flex;
  align-items: center;
  text-align: center;
}
/* Cambiar el color del botón en hover */
.btn-custom:hover {
  background-color: #5d00ff; /* Cambia el color del botón en hover según el que desees */
  border-color: #5d00ff; /* Cambia el color del borde en hover si es necesario */
  color: #fff; /* Cambia el color del texto en hover si es necesario */
  text-decoration: none;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #080808 !important;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.py-5 {
  padding-top: 3rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.px-sm-3 {
  padding-right: 1rem !important;
}

.text-primary {
  color: #8444FF !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #8444FF !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

.custom-input-group {
  border-radius: 0; /* Elimina los bordes redondeados */
}

.custom-input-group .form-control {
  border-radius: 0; /* Elimina los bordes redondeados */
  padding: 25px;
}

.custom-input-group .btn {
  border-radius: 0; /* Elimina los bordes redondeados */
}
