<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" >
  <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand">
              <h1 class="text-primary"><span class="text-white">DREAM</span>STYLE</h1>
          </a>
          <p>Desata tu estilo único en Dreams&Style: donde la moda se convierte en tu lienzo.</p>
          <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Correo</h6>
          <div class="w-100">
            <div class="input-group custom-input-group">
              <input type="text" class="form-control" placeholder="Deja tu correo para contactarte!">
              <div class="input-group-append">
                  <app-btn-normal size="small" textButton="Enviar"></app-btn-normal>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Servicios</h5>
          <div class="d-flex flex-column justify-content-start">
              <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
              <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Nosotros</a>
              <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Productos</a>
              <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Diseñar</a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Redes</h5>
          <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Siguenos</h6>
          <div class="d-flex justify-content-start">
            <a class="btn btn-outline-primary btn-square custom-margin btn-custom" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-primary btn-square custom-margin btn-custom" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-primary btn-square custom-margin btn-custom" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-primary btn-square btn-custom" href="#"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
          <p><i class="fa fa-map-marker-alt mr-2"></i>Tunja, Boyacá</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 3012060964 - +57 3212161115</p>
          <p><i class="fa fa-envelope mr-2"></i>julian.rodriguez21@uptc.edu.co</p>
          <p><i class="fa fa-envelope mr-2"></i>diana.infante@uptc.edu.co</p>
      </div>
  </div>
</div>
