<body>
  <main>
    <div class="container">
      <div class="left box-primary">
          <img class="image" src="https://cdn-icons-png.flaticon.com/512/219/219984.png" alt="" />
          <h3 class="username text-center">Diana Infante</h3>
        <a href="#" class="btn btn-primary btn-block"><b>Editar foto</b></a>
      </div>
      <div class="right tab-content">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="validationServer01" value="Mark" placeholder="Ingrese su nombre" required>
          </div>
          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="validationServer02" value="Otto" placeholder="Ingrese su apellido" required>
          </div>
          <div class="col-md-12">
            <label for="validationServer03" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" required>
          </div>
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="validationServer01" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="validationServer02" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input is-valid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
              <label class="form-check-label" for="invalidCheck3">
                Acepta términos y condiciones
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="text-center mx-auto">
                <app-btn-normal type="submit" size="medium" textButton="Guardar"></app-btn-normal>
              </div>
            </div>
          </div>
        </form>
        <!--
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input type="datetime" class="form-control p-4" placeholder="Ingresa tu nombre" required="required" required minlength="8"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control p-4" placeholder="Ingresa tu apellido" required="required" required minlength="8"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" class="form-control p-4" placeholder="Ingresa tu correo electrónico" required="required" required minlength="8"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control p-4" placeholder="Ingresa tu contraseña" required="required" required minlength="8"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Confirmar contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control p-4" placeholder="Ingresa de nuevo tu contraseña" required="required" required minlength="8"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="text-center mx-auto">
                <app-btn-normal type="submit" size="medium" textButton="Guardar"></app-btn-normal>
              </div>
            </div>
          </div>
        </form>
        -->
      </div>
    </div>
  </main>


</body>
