<body>
  <main>
    <div class="container">
      <div class="left box-primary">
          <img class="image" src="https://cdn-icons-png.flaticon.com/512/219/219984.png" alt="" />
          <h3 class="username text-center">{{name_user}} {{last_name_user}}</h3>
        <a href="#" class="btn btn-primary btn-block"><b>Editar foto</b></a>
      </div>
      <div class="right tab-content">
        <h2>Cambio de Datos</h2>
        <form class="row g-3" (ngSubmit)="updateDataUser()">
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Nombres</label>
            <input [(ngModel)]="data.name_user" type="text" class="form-control" id="validationServer01" value={{name_user}} placeholder="Ingrese su nombre" disabled required>
          </div>
          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Apellidos</label>
            <input [(ngModel)]="data.lastname_user" type="text" class="form-control" id="validationServer02" value={{last_name_user}} placeholder="Ingrese su apellido" disabled required>
          </div>
          <div class="col-md-12">
            <label for="validationServer03" class="form-label">Correo electrónico</label>
            <input [(ngModel)]="data.email" type="email" class="form-control" id="validationServer03" value={{email_user}} aria-describedby="validationServer03Feedback" disabled required>
          </div>
        </form>
        <h2>Cambio de contraseña</h2>
        <form class="row g-3">
          <div class="col-md-12">
            <label for="validationServer01" class="form-label">Contraseña anterior</label>
            <input type="password" class="form-control" id="validationServer01" value={{password_user}} required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="validationServer01" value={{password_user}} required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationServer02" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="validationServer02" value={{password_user_2}} required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input is-valid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
              <label class="form-check-label" for="invalidCheck3">
                Acepta términos y condiciones
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="text-center mx-auto">
                <app-btn-normal type="submit" size="small" textButton="Cambiar contraseña"></app-btn-normal>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
