<div class="container-fluid bg-registration py-5" style="margin: 0;">
  <div class="container py-5">
      <div class="row align-items-center">
          <div class="col-lg-7 mb-5 mb-lg-0">
              <div class="mb-4">
                  <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Dreams & Style</h6>
                  <h1 class="text-white"><span class="text-primary">Diseña</span> el estilo que refleje tu imaginación sin límites</h1>
              </div>
              <p class="text-white">En cada amanecer, la vida nos brinda una nueva oportunidad para pintar nuestro lienzo personal. Aprovechemos cada día para trazar con determinación y pasión los colores de nuestros sueños, recordando que el diseño de nuestra vida está en nuestras manos. Con cada paso que damos hacia adelante, creamos el camino hacia un futuro brillante y lleno de logros. ¡Nunca subestimemos el poder de nuestras elecciones y la fuerza de nuestros deseos! Avancemos con valentía y confianza, porque somos los arquitectos de nuestras propias victorias</p>
              <ul class="list-inline text-white m-0">
                  <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Personalización Única</li>
                  <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Experiencia de Compra enriquecida</li>
                  <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Como siempre lo haz soñado</li>
              </ul>
          </div>
          <div class="col-lg-5">
            <div class="card border-0">
              <div class="card-header bg-primary text-center p-4">
                <h1 class="text-white m-0">Ingresar</h1>
              </div>
              <div class="card-body rounded-bottom bg-white p-5 text-center">
                <form  [formGroup]="formLogin" (ngSubmit)="Login()">
                  <div class="form-group">
                    <input type="email" class="form-control p-4" formControlName="email" placeholder="Ingresa tu correo electrónico" required="required" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control p-4" formControlName="password" placeholder="Ingresa tu contraseña" required="required" required minlength="8"/>
                  </div>
                  <div *ngIf="loginError" class="alert alert-danger mt-3" role="alert">
                    Usuario no encontrado. Por favor, verifica tu correo electrónico y contraseña.
                  </div>

                  <div class="button-container">
                    <div class="text-center">
                      <button [disabled]="!formLogin.valid" class="btn btn-primary btn-lg py-2 rounded-pill" type="submit">Ingresar</button>
                    </div>
                  </div>
                </form>
                <div class="text-center">
                </div>
                <div class="button-container">
                  <div class="text-center">
                    <app-btn-google></app-btn-google>
                  </div>
                </div>
                <div>
                  <a  [routerLink]="['/recovery']">¿Olvidó su contraseña?</a>
                </div>
                <div>
                  <a [routerLink]="['/register']">Registrar Usuario</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
